<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <script src="/app.js"></script>
</head>
<body ng-controller="dash">


<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Site</a>
    </div>
    <div id="navbarCollapse" class=" navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/dashboard">dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="col-md-7">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Invites</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>social</th>
                    <th>genre</th>
                    <th>music</th>
                    <th>Invite</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="invite in invites">
                        <td>{{invite.name}}</td>
                        <td>{{invite.email}}</td>
                        <td><div ng-repeat="social in invite.social track by $index">{{social}}</div></td>
                        <td><div ng-repeat="genre in invite.genre track by $index">{{genre}}</div></td>
                        <td><div ng-repeat="music in invite.music track by $index">{{music}}</div></td>
                        <td ng-if="invite.invited===true"><i class="fa fa-check-circle">Invited</i></td>
                        <td ng-if="invite.invited===false"><i class="fa fa-close" >Denied</i></td>
                        <td ng-if="invite.invited==null"><a class="fa fa-plus-square" href="#" ng-click="accept(invite)">Accept</a> | <a class="fa fa-minus-square" href="#" ng-click="deny(invite)">Deny</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-5">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Subsribers</div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>interests</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subscribe in subscribes">
                    <td>{{subscribe.email}}</td>
                    <td><div ng-repeat="interest in subscribe.interest track by $index">{{interest}}</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>