<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>TraqHound - The Ultimate 360 Fan Experience</title>
    <link rel="icon" href="/images/favicons/ico.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link id="color-css" rel="stylesheet" href="css/colors/blue.css">

</head>

<body class="enable-animations enable-preloader">
<div id="document" class="document">
    <header id="header" class="header-section section section-dark navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                    <img src="images/logo.png" alt="TraqHound">
                </a>

            </div>

            <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">

                    <li><a href="#hero" class="hidden">Top</a></li>

                    <li><a href="#hero">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#calc">Royalties</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#contact">Contact</a></li>

                    <!-- HEADER ACTION BUTTON -->
                    <li class="header-action-button"><a href="#artistsign" class="anchor-link   btn btn-primary">Artist Sign Up</a></li>

                </ul>

            </nav>

        </div>

    </header>

    <!-- HERO
			================================= -->
    <section id="hero" class="hero-section section section-dark">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image">
                <img src="/images/img/HomeBigBanner.jpg" alt="" style="opacity: 0.5;width:100%;">
            </div>
        </div>

        <div class="container">

            <div class="hero-content">
                <div class="hero-content-inner">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="hero-title"><img style="height:100px;" src="/images/logoh.png"> </h1>
                            <h4><b>The Ultimate 360 Fan Experience</b> </h4>
                            <p class="hero-tagline">Subscribe to your favorite artists and gain access to exclusive songs, videos, pictures, merchandise, shows and more…</p>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">

                                    <!-- SUBSCRIPTION FORM -->
                                    <form action="/subscribe" method="post" id="subscription-form" class="subscription-form" role="form">
                                        <div class="form-validation alert"></div>
                                        <div class="form-group subscription-form-wrapper">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="subscription-form-input">
                                                        <input type="email" name="email" id="subscribe-form-email" class="subscribe-form-email form-control form-control-lg" placeholder="Email address" autocomplete="off">
                                                    </span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="subscription-form-input">
                                                        <input type="text" name="interests" id="subscribe-form-interests" class="subscribe-form-email form-control form-control-lg" placeholder="Favorite Artists" autocomplete="off">
                                                    </span>
                                                </div>
                                            </div>
                                            <span class="subscription-form-submit">
                                                <button class="btn btn-primary btn-lg" data-loading-text="Get Early Access">Get Early Access</button>
                                            </span>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- HERO START LINK -->
        <a href="#about" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down"></span></a>

    </section>

    <section id="about" class="headline-section section section-gray">

        <div class="container">

            <h2 class="section-heading text-center" style="font-size: 26px;">A new dog in town </h2>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <p class="lead">
                        TraqHound was born from the idea that Super Fans should be rewarded for supporting their favorite artists. This platform was designed to give fans a 360 experience; allowing early access to the best performance seats, private shows, exclusive video content, song streams, and much more.. Artists have full control over how they want their fans to feel appreciated.
                    </p>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="#artistsign" class="anchor-link btn btn-lg btn-primary">Sign Up</a></div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="#artistfeatures" class="anchor-link btn btn-lg btn-primary">Artist Features</a></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section id="monthly" class="section about-section section-dark">

        <div class="container">

            <h2 class="section-heading text-center">
                A&R 360 Access
            </h2>

            <p class="lead">
                At TraqHound, we invest in you. Because your success, means our success. Our A&R Executives are available to answer any questions or concerns, and help maximize your TraqHound experience. No strings attached.

                <br/><br/>What are you waiting for?
            </p>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="closing-buttons" data-animation="tada"><a href="#artistsign" class="anchor-link btn btn-lg btn-primary">Sign Up</a></div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="closing-buttons" data-animation="tada"><a href="#artistfeatures" class="anchor-link btn btn-lg btn-primary">Artist Features</a></div>
                </div>
            </div>
        </div>

    </section>


    <!-- DESCRIPTION
			================================= -->
    <section id="features" class="section about-section">

        <div class="container">

            <h2 class="section-heading text-center">
                Cha-Ching
            </h2>


            <!-- DESCRIPTION TEXT -->

            <p class="lead">
                Why struggle to get an endless number of streams, just to get by? Through this monthly subscription model, artists are paid a large percentage of each fan subscription. Artists can choose to get paid on a weekly or monthly basis. With more financial freedom, it allows artists more creative time for recording, travel, video production etc. Win, win for any artist.
            </p>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="closing-buttons" data-animation="tada"><a href="#artistsign" class="anchor-link btn btn-lg btn-primary">Sign Up</a></div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="closing-buttons" data-animation="tada"><a href="#artistfeatures" class="anchor-link btn btn-lg btn-primary">Artist Features</a></div>
                </div>
            </div>
        </div>

    </section>

    <!-- BENEFITS
			================================= -->
    <section id="artistfeatures" class="numbers-section section section-dark">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image">
                <img src="/images/img/Features.jpg" style="opacity: 0.2;width:100%;">
            </div>

        </div>

        <div class="container">

            <h2 class="section-heading text-center">Artist Features</h2>

            <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                <ul class="icon-list">
                    <li>
                        <span class="icon-list-icon fa fa-check" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title"><br/>Free and easy-to-use platform</h4>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-exchange" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title"><br/>DIRECT ACCESS TO COMPANY'S A&R EXECUTIVES</h4>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-dollar" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title"><br/>Monthly income </h4>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-area-chart" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title"><br/>SHARED STAT REPORTS ON ARTISTS' FANS</h4>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-plane" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title"><br/>OUTREACH TO FANS FROM OVER 130 COUNTRIES</h4>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#artistsign" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down"></span></a>

    </section>


    <!-- HOW IT WORKS
            ================================= -->
    <section id="artistsign" class="how-it-works-section section section-gray">

        <div class="container-fluid">

            <h2 class="section-heading text-center">Artist Sign Up</h2>

            <div class="hiw-row row">

                <!-- HOW IT WORKS - ITEM 1 -->
                <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                    <div class="hiw-item">
                        <img class="hiw-item-picture" src="/images/img/Step1.jpg" alt="">
                        <div class="hiw-item-text">
                            <span class="hiw-item-icon">1</span>
                            <h4 class="hiw-item-title">Sign Up</h4>
                            <p class="hiw-item-description"> Fill out the application below with links to your music, social media accounts and official website (if applicable).</p>
                        </div>
                    </div>
                </div>

                <!-- HOW IT WORKS - ITEM 2 -->
                <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                    <div class="hiw-item even">
                        <img class="hiw-item-picture" src="/images/img/Step2.jpg" alt="">
                        <div class="hiw-item-text">
                            <span class="hiw-item-icon">2</span>
                            <h4 class="hiw-item-title">Review</h4>
                            <p class="hiw-item-description">One of our A&R’s will review your application and you will be notified by email indicating whether you have been accepted to TraqHound.</p>
                        </div>
                    </div>
                </div>

                <div class="hidden-md hidden-lg clear"></div>

                <!-- HOW IT WORKS - ITEM 3 -->
                <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                    <div class="hiw-item">
                        <img class="hiw-item-picture" src="/images/img/Step3.jpg" alt="">
                        <div class="hiw-item-text">
                            <span class="hiw-item-icon">3</span>
                            <h4 class="hiw-item-title">Accepted</h4>
                            <p class="hiw-item-description">Once accepted, you will receive an email with all the necessary information and direct access to an official TraqHound A&R. </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="application" class="benefits-section section section-dark">
        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image">
                <img src="/images/img/ArtistSignup.jpg" style="opacity: 0.2;width:100%;">
            </div>

        </div>

        <div class="container">

            <h2 class="section-heading text-center">Application form</h2>

            <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                <form action="/invite" method="post" id="form" class="form" role="form">

                    <div class="form-validation alert"></div>

                    <div class="form-group">
                        <label for="form-name">Name</label>
                        <input type="text" name="name" id="form-name" class="form-control" placeholder="Your Full Name" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="form-email">Email Address</label>
                        <input type="email" name="email" id="form-email" class="form-control" placeholder="Your Valid Email Address" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="form-location">Your Location</label>
                        <select name="location" id="form-location" class="form-control" placeholder="Your Location" autocomplete="off">
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada	Carson">Nevada	Carson</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                        <small>*Currently we are only open to artists based in the US</small>
                    </div>

                    <div class="form-group">
                        <label for="form-genre">Genre</label>
                        <input type="text" name="genre" id="form-genre" class="form-control" placeholder="Genre (comma separated)" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="form-music">Music</label>
                        <input type="text" name="music" id="form-music" class="form-control" placeholder="Music Links (comma separated)" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="form-social">Social</label>
                        <input type="text" name="social" id="form-social" class="form-control" placeholder="Social Links (comma separated)" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="form-social">Website</label>
                        <input type="text" name="website" id="form-website" class="form-control" placeholder="Website (if applicable)" autocomplete="off">
                    </div>

                    <div class="form-group form-group-submit">
                        <button class="btn btn-primary btn-lg" data-loading-text="Register">Register</button>
                    </div>
                </form>
            </div>

        </div>

    </section>


    <!-- NUMBERS
			================================= -->
    <section id="calc" class="numbers-section section section-gray">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image" >
                <img src="/images/img/girl.jpg" alt="" style="opacity: 0.20;width:100%;">
            </div>

        </div>

        <div class="container">

            <h2 class="section-heading text-center">Royalty Calculator</h2>
            <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                <form id="calculator" class="form" role="form">

                    <div class="form-validation alert"></div>

                    <div class="form-group">
                        <label for="form-name">Your Fans</label>
                        <input type="text" id="calc-money" class="form-control" placeholder="Enter the number of fans you have (Minimum 100)" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="form-name">Monthly Payment</label>
                        <input type="text" id="payment" class="form-control" name="Payment" value="$" readonly />
                    </div>
                    <div class="form-group form-group-submit">
                        <button id="calculate-btn" class="btn btn-primary btn-lg" data-loading-text="calc">Calculate</button>
                    </div>
                </form>
                <small>*This is only an estimate based on current industry conversation rates. Your actual income might be higher or lower than the estimate.</small>
            </div>

        </div>

    </section>

    <!-- VIDEO SECTION
			================================= -->
    <section id="faq" class="video-section section section-gray">

        <div class="container">

            <h2 class="section-heading text-center">FAQ</h2>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="lead"><b>When is the site going live?</b><br/><small>TraqHound is launching late Spring of 2015!</small></p>

                    <p class="lead"><b>Can I cancel at any time?</b> <br/><small>Yes, absolutely. No strings attached.</small></p>

                    <p class="lead"><b>What are the fees to use the platform?</b><br/><small>No fees. Free for artists and fans. After the first subscription, fans instantly become members.</small></p>

                    <p class="lead"><b>How do I get paid?></b> <br/><small> Your dashboard will allow you to track your subscribers and earnings. Whenever you wish to cash out, you can select to receive payment via PayPal, direct deposit or check.</small></p>

                    <p class="lead"><b>What is the Split?</b> <br/><small> 70% for you and 30% for our team. If you have more than 100,000 fans, shoot us a message and we will renegotiate.</small></p>

                    <p class="lead"><b>How much are subscription fees?</b> <br/><small>$4.99 per artist</small></p>

                    <p class="lead"><b>Can labels with multiple artists sign up?</b> <br/><small>Absolutely. See contact form for details.</small></p>
                </div>
            </div>

        </div>
    </section>

    <!-- GOOGLE MAPS
			================================= -->
    <section id="contact" class="section section-dark">


        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image">
                <img src="/images/img/Contact.jpg" style="opacity: 0.15;width:100%;">
            </div>

        </div>

        <!-- MAPS TEXT -->
        <div class="container" data-animation="fadeIn">



            <h2 class="section-heading text-center">Made in Los Angeles</h2>

            <p class="lead text-center">We’re a team of digital natives with deep entertainment expertise</p>


            <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                <form action="/contact" method="post" id="contact-from" class="form" role="form">

                    <div class="form-validation alert"></div>

                    <div class="form-group">
                        <label for="form-name">Name</label>
                        <input type="text" name="name" id="contact-name" class="form-control" placeholder="Your Full Name" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="form-email">Email Address</label>
                        <input type="email" name="email" id="contact-email" class="form-control" placeholder="Your Email Address" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="form-social">Website</label>
                        <textarea name="text" id="contact-text" class="form-control" placeholder="Your text" autocomplete="off"></textarea>
                    </div>

                    <div class="form-group form-group-submit">
                        <button class="btn btn-primary btn-lg" data-loading-text="Contact">Contact</button>
                    </div>
                </form>
            </div>

        </div>

    </section>

    <!-- CLOSING
			================================= -->
    <section id="closing" class="closing-section section section-gray">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image">
                <img src="/images/img/girl.jpg" alt="" style="opacity: 0.2;width:100%;">
            </div>

        </div>

        <div class="container">

            <h3 class="closing-shout">Ready to start?</h3>

            <div class="closing-buttons" data-animation="tada"><a href="#hero" class="anchor-link btn btn-lg btn-primary">Get Early Access</a></div>

        </div>

    </section>

    <!-- FOOTER
			================================= -->
    <section id="footer" class="footer-section section">

        <div class="container">

            <h3 class="footer-logo">
                <img style="height: 75px;" src="/images/logof.png" alt="TraqHound">
            </h3>

            <div class="footer-copyright">
                &copy; 2015 TraqHound
            </div>

        </div>

    </section>

</div>

<!-- JAVASCRIPT
		================================= -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/respimage.min.js"></script>
<script src="js/jpreloader.min.js"></script>
<script src="js/smoothscroll.min.js"></script>
<script src="js/jquery.nav.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<!--<script src="js/maplace-0.1.3.min.js"></script>-->
<script src="js/script.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('submit', '#calculator', function(e) {
            e.preventDefault();
            var money,fin;
            money = $('#calc-money').val();
            if(money<100){
                $('#payment').val('Minimum value should be 100!');
            }else{
                fin =((0.03*parseFloat(money))*3.50);
                $('#payment').val('$'+fin.toFixed(2));
            }
        });
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59905605-1', 'auto');
    ga('send', 'pageview');

</script>
</body>

</html>