<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- BASIC INFO -->
		<title>Drew - A Multipurpose Landing Page Template</title>
		<meta name="author" content="David Rozando">
		<meta name="keywords" content="responsive, parallax, bootstrap, html5 template, one page, landing page">
		<meta name="description" content="Drew - A Multipurpose Landing Page Template">

		<!-- FAVICONS -->
		<link rel="icon" href="/images/favicons/ico.png">

		<!-- CSS
		================================= -->

		<!-- GOOGLE FONTS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

		<!-- LIBRARIES CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/animate.min.css">

		<!-- SPECIFIC CSS -->
		<link rel="stylesheet" href="/css/style.css">

		<!-- COLORS -->
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/pink.css"> -->
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/red.css"> -->
		<link id="color-css" rel="stylesheet" href="css/colors/orange.css">
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/yellow.css"> -->
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/green.css"> -->
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/turquoise.css"> -->
		<!-- <link id="color-css" rel="stylesheet" href="css/colors/blue.css"> -->

	</head>

	<body class="enable-animations enable-preloader">

		<div id="document" class="document">

			<!-- HEADER
			================================= -->
			<header id="header" class="header-section section section-dark navbar navbar-default navbar-fixed-top">

				<div class="container-fluid">

					<div class="navbar-header navbar-left">

						<!-- RESPONSIVE MENU BUTTON -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<!-- HEADER LOGO -->
						<a class="navbar-logo navbar-brand anchor-link" href="#hero">
							<img src="images/logo.png" alt="TraqHound">
						</a>

					</div>

					<nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

						<!-- NAVIGATION LINKS -->
						<ul id="header-nav" class="nav navbar-nav">

							<li><a href="#hero" class="hidden">Top</a></li>

							<li><a href="/">Home</a></li>
							<li><a href="#about">About Us</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#faq">FAQ</a></li>

							<!-- HEADER ACTION BUTTON -->
							<li class="header-action-button"><a href="#artistsign" class="btn btn-primary">Artist Sign Up</a></li>

						</ul>

					</nav>

				</div>

			</header>

			<!-- HERO
			================================= -->
			<section id="hero" class="hero-section hero-layout-simple hero-layout-fullscreen-subscription-form hero-fullscreen section section-dark">

				<div class="section-background">

					<!-- IMAGE BACKGROUND -->
					<div class="section-background-image parallax" data-stellar-ratio="0.4">
						<img src="/images/img/HomeBigBanner.jpg" alt="" style="opacity: 0.5;">
					</div>

					<!-- VIDEO BACKGROUND -->
					<!-- <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
						<video preload="auto" autoplay loop muted poster="images/backgrounds/video-fallback-bg.jpg" style="opacity: 0.3;">
							<source type="video/mp4" src="videos/video-bg.mp4">
							<source type="video/ogg" src="videos/video-bg.ogv">
							<source type="video/webm" src="videos/video-bg.webm">
						</video>
					</div> -->

					<!-- SLIDESHOW BACKGROUND -->
					<!-- <ul class="section-background-slideshow parallax" data-stellar-ratio="0.4" data-speed="800" data-timeout="4000">
						<li><img src="images/backgrounds/hero-bg-slideshow-1.jpg" alt="" style="opacity: 0.25;"></li>
						<li><img src="images/backgrounds/hero-bg-slideshow-2.jpg" alt="" style="opacity: 0.25;"></li>
						<li><img src="images/backgrounds/hero-bg-slideshow-3.jpg" alt="" style="opacity: 0.2;"></li>
					</ul> -->

				</div>

				<div class="container">

					<div class="hero-content">
						<div class="hero-content-inner">

							<div class="row">
								<div class="col-md-10 col-md-offset-1">

									<div class="hero-heading" data-animation="fadeIn">

										<h1 class="hero-title"><img style="height:100px;" src="/images/logoh.png"> </h1>
                                        <small><b>The Ultimate 360 Fan Experience</b> </small>

										<p class="hero-tagline">Subscribe to your favorite artist and gain access to exclusive songs, videos, pictures, merchandise, shows and more…</p>

									</div>

									<div class="row">
										<div class="col-md-10 col-md-offset-1">

											<!-- SUBSCRIPTION FORM -->
											<form action="/subscribe" method="post" id="subscription-form" class="subscription-form" role="form">
												<div class="form-validation alert"></div>
                                                <div class="form-group subscription-form-wrapper">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <span class="subscription-form-input">
                                                                <input type="email" name="email" id="subscribe-form-email" class="subscribe-form-email form-control form-control-lg" placeholder="Your email address" autocomplete="off">
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <span class="subscription-form-input">
                                                                <input type="text" name="interests" id="subscribe-form-interests" class="subscribe-form-email form-control form-control-lg" placeholder="Favorite Artist" autocomplete="off">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <span class="subscription-form-submit">
														<button class="btn btn-primary btn-lg" data-loading-text="Get Early Access">Get Early Access</button>
													</span>
												</div>
											</form>

										</div>
									</div>

								</div>
							</div>

						</div>
					</div>

				</div>

				<!-- HERO START LINK -->
				<a href="#about" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down"></span></a>

			</section>

            <section id="about" class="headline-section section-gray section">

                <div class="container">

                    <h2 class="section-heading text-center">There is a new dog in town </h2>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <p class="lead">
                                TraqHound was born from the idea that super fans should be rewarded for supporting their favorite artist.<br/> The platform is designed to give fans a 360 experience, from early access to the best seats, secret shows, video content, exclusive song streams, and more. The artist has total control over how they want their fans to feel appreciated.
                            </p>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-1">
                                    <div class="closing-buttons" data-animation="tada"><a href="#artistsign" class="anchor-link btn btn-lg btn-primary">Artist SignUp</a></div>
                                </div>
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="closing-buttons" data-animation="tada"><a href="#artistfeatures" class="anchor-link btn btn-lg btn-primary">Artist Features</a></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>


            <!-- DESCRIPTION
			================================= -->
            <section id="features" class="about-section section">

                <div class="container">

                    <h2 class="section-heading text-center">
                        Cha Ching
                    </h2>


                    <!-- DESCRIPTION TEXT -->

                    <p class="lead">By introducing a monthly subscription model, you don't have to worry about getting gazillions of streams to earn a living. By having super fans subscribe to your artist account, you will get paid every month. This, in turn, equals more studio time, travel and more. It’s a win/win!</p>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="#artistsign" class="anchor-link btn btn-lg btn-primary">Artist SignUp</a></div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="#artistfeatures" class="anchor-link btn btn-lg btn-primary">Artist Features</a></div>
                        </div>
                    </div>
                </div>

            </section>

			<!-- BENEFITS
			================================= -->
            <section id="artistfeatures" class="numbers-section section-dark section">

                <div class="section-background">

                    <!-- IMAGE BACKGROUND -->
                    <div class="section-background-image parallax" data-stellar-ratio="0.4">
                        <img src="/images/img/Features.jpg" style="opacity: 0.2;">
                    </div>

                </div>

                <div class="container">

                    <h2 class="section-heading text-center">Artist Features</h2>

                    <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                        <ul class="icon-list">
                            <li>
                                <span class="icon-list-icon fa fa-check" data-animation="bounceIn"></span>
                                <h4 class="icon-list-title"><br/>Free and easy-to-use platform</h4>
                            </li>
                            <li>
                                <span class="icon-list-icon fa fa-exchange" data-animation="bounceIn"></span>
                                <h4 class="icon-list-title"><br/>Direct access to one of our A&R’s </h4>
                            </li>
                            <li>
                                <span class="icon-list-icon fa fa-dollar" data-animation="bounceIn"></span>
                                <h4 class="icon-list-title"><br/>Monthly income </h4>
                            </li>
                            <li>
                                <span class="icon-list-icon fa fa-area-chart" data-animation="bounceIn"></span>
                                <h4 class="icon-list-title"><br/>Helpful stats about your fans, such as location</h4>
                            </li>
                            <li>
                                <span class="icon-list-icon fa fa-plane" data-animation="bounceIn"></span>
                                <h4 class="icon-list-title"><br/>Accept fans from over 130 countries </h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#artistsign" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down"></span></a>

            </section>


            <!-- HOW IT WORKS
            ================================= -->
            <section id="artistsign" class="how-it-works-section section-gray section">

                <div class="container-fluid">

                    <h2 class="section-heading text-center">Artist Signup</h2>

                    <div class="hiw-row row">

                        <!-- HOW IT WORKS - ITEM 1 -->
                        <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                            <div class="hiw-item">
                                <img class="hiw-item-picture" src="/images/img/Step1.jpg" alt="">
                                <div class="hiw-item-text">
                                    <span class="hiw-item-icon">1</span>
                                    <h4 class="hiw-item-title">Sign Up</h4>
                                    <p class="hiw-item-description"> Fill out the application below with links to your music, social media accounts and official website (if applicable).</p>
                                </div>
                            </div>
                        </div>

                        <!-- HOW IT WORKS - ITEM 2 -->
                        <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                            <div class="hiw-item even">
                                <img class="hiw-item-picture" src="/images/img/Step2.jpg" alt="">
                                <div class="hiw-item-text">
                                    <span class="hiw-item-icon">2</span>
                                    <h4 class="hiw-item-title">Review</h4>
                                    <p class="hiw-item-description">One of our A&R’s will review your application and you will be notified by email indicating whether you have been accepted to TraqHound.</p>
                                </div>
                            </div>
                        </div>

                        <div class="hidden-md hidden-lg clear"></div>

                        <!-- HOW IT WORKS - ITEM 3 -->
                        <div class="col-md-4 col-sm-8" data-animation="fadeIn">
                            <div class="hiw-item">
                                <img class="hiw-item-picture" src="/images/img/Step3.jpg" alt="">
                                <div class="hiw-item-text">
                                    <span class="hiw-item-icon">3</span>
                                    <h4 class="hiw-item-title">Accepted</h4>
                                    <p class="hiw-item-description">Once accepted, you will receive an email with all the necessary information and direct access to an official TraqHound A&R. </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

			<section id="application" class="benefits-section section-dark section">
                <div class="section-background">

                    <!-- IMAGE BACKGROUND -->
                    <div class="section-background-image parallax" data-stellar-ratio="0.4">
                        <img src="/images/img/ArtistSignup.jpg" style="opacity: 0.2;">
                    </div>

                </div>

                <div class="container">

					<h2 class="section-heading text-center">Application form</h2>

                    <div class="col-md-6 col-md-offset-3" data-animation="fadeIn">
                        <form action="/invite" method="post" id="form" class="form" role="form">

                            <div class="form-validation alert"></div>

                            <div class="form-group">
                                <label for="form-name">Name</label>
                                <input type="text" name="name" id="form-name" class="form-control" placeholder="Your Full Name" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="form-email">Email Address</label>
                                <input type="email" name="email" id="form-email" class="form-control" placeholder="Your Valid Email Address" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="form-location">Your Location</label>
                                <select name="location" id="form-location" class="form-control" placeholder="Your Location" autocomplete="off">
                                    <option value="Alabama">Alabama</option>
                                    <option value="Alaska">Alaska</option>
                                    <option value="Arizona">Arizona</option>
                                    <option value="Arkansas">Arkansas</option>
                                    <option value="California">California</option>
                                    <option value="Colorado">Colorado</option>
                                    <option value="Connecticut">Connecticut</option>
                                    <option value="Delaware">Delaware</option>
                                    <option value="Florida">Florida</option>
                                    <option value="Georgia">Georgia</option>
                                    <option value="Hawaii">Hawaii</option>
                                    <option value="Idaho">Idaho</option>
                                    <option value="Illinois">Illinois</option>
                                    <option value="Indiana">Indiana</option>
                                    <option value="Iowa">Iowa</option>
                                    <option value="Kansas">Kansas</option>
                                    <option value="Kentucky">Kentucky</option>
                                    <option value="Louisiana">Louisiana</option>
                                    <option value="Maine">Maine</option>
                                    <option value="Maryland">Maryland</option>
                                    <option value="Massachusetts">Massachusetts</option>
                                    <option value="Michigan">Michigan</option>
                                    <option value="Minnesota">Minnesota</option>
                                    <option value="Mississippi">Mississippi</option>
                                    <option value="Missouri">Missouri</option>
                                    <option value="Montana">Montana</option>
                                    <option value="Nebraska">Nebraska</option>
                                    <option value="Nevada	Carson">Nevada	Carson</option>
                                    <option value="New Hampshire">New Hampshire</option>
                                    <option value="New Jersey">New Jersey</option>
                                    <option value="New Mexico">New Mexico</option>
                                    <option value="New York">New York</option>
                                    <option value="North Carolina">North Carolina</option>
                                    <option value="North Dakota">North Dakota</option>
                                    <option value="Ohio">Ohio</option>
                                    <option value="Oklahoma">Oklahoma</option>
                                    <option value="Oregon">Oregon</option>
                                    <option value="Pennsylvania">Pennsylvania</option>
                                    <option value="Rhode Island">Rhode Island</option>
                                    <option value="South Carolina">South Carolina</option>
                                    <option value="South Dakota">South Dakota</option>
                                    <option value="Tennessee">Tennessee</option>
                                    <option value="Texas">Texas</option>
                                    <option value="Utah">Utah</option>
                                    <option value="Vermont">Vermont</option>
                                    <option value="Virginia">Virginia</option>
                                    <option value="Washington">Washington</option>
                                    <option value="West Virginia">West Virginia</option>
                                    <option value="Wisconsin">Wisconsin</option>
                                    <option value="Wyoming">Wyoming</option>
                                </select>
                                <small>*Currently we are only open to artists based in the US</small>
                            </div>

                            <div class="form-group">
                                <label for="form-genre">Genre</label>
                                <input type="text" name="genre" id="form-genre" class="form-control" placeholder="Genre (comma separated)" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="form-music">Music</label>
                                <input type="text" name="music" id="form-music" class="form-control" placeholder="Music Links (comma separated)" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="form-social">Social</label>
                                <input type="text" name="social" id="form-social" class="form-control" placeholder="Social Links (comma separated)" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="form-social">Website</label>
                                <input type="text" name="website" id="form-website" class="form-control" placeholder="Website (if applicable)" autocomplete="off">
                            </div>

                            <div class="form-group form-group-submit">
                                <button class="btn btn-primary btn-lg" data-loading-text="Register">Register</button>
                            </div>
                        </form>
                    </div>

                </div>

			</section>


			<!-- NUMBERS
			================================= -->
			<section id="calc" class="numbers-section section-gray section">

				<div class="section-background">

					<!-- IMAGE BACKGROUND -->
					<div class="section-background-image parallax" data-stellar-ratio="0.4">
                        <img src="/images/img/girl.jpg" alt="" style="opacity: 0.20;">
					</div>

				</div>

				<div class="container">

					<h2 class="section-heading text-center">Calculator</h2>

					<div class="numbers-row row">

						<!-- NUMBERS - ITEM 1 -->
						<div class="col-md-3 col-sm-6">
							<div class="numbers-item">
								<div class="numbers-item-counter"><span class="counter-up">1,269</span></div>
								<div class="numbers-item-caption">Tickets solved</div>
							</div>
						</div>

						<!-- NUMBERS - ITEM 2 -->
						<div class="col-md-3 col-sm-6">
							<div class="numbers-item">
								<div class="numbers-item-counter"><span class="counter-up">99.8</span>%</div>
								<div class="numbers-item-caption">User Ratings</div>
							</div>
						</div>

						<!-- NUMBERS - ITEM 3 -->
						<div class="col-md-3 col-sm-6">
							<div class="numbers-item">
								<div class="numbers-item-counter"><span class="counter-up">754</span>k</div>
								<div class="numbers-item-caption">Total Users</div>
							</div>
						</div>

						<!-- NUMBERS - ITEM 4 -->
						<div class="col-md-3 col-sm-6">
							<div class="numbers-item">
								<div class="numbers-item-counter"><span class="counter-up">358</span> <span class="fa fa-coffee"></span></div>
								<div class="numbers-item-caption">Coffee Served</div>
							</div>
						</div>

					</div>

				</div>

			</section>

			<!-- VIDEO SECTION
			================================= -->
			<section id="faq" class="video-section section-gray section">

				<div class="container">

					<h2 class="section-heading text-center">FAQ</h2>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
                            <p class="lead"><b>When is the site going live?</b><br/><small>We are launching in late spring of 2015.</small></p>

                            <p class="lead"><b>Do I have to sign my life away?</b> <br/><small> Unlike most subscription based web sites, you cancel your account with the click of a button whenever you feel like it.</small></p>

                            <p class="lead"><b>Is the platform free? </b><br/><small> Yes, the platform is free to use for artists. To create a fan account, you must subscribe to your first artist.</small></p>

                            <p class="lead"><b>How do I get paid?></b> <br/><small> Your dashboard will allow you to track your subscribers and earnings. Whenever you wish to cash out, you can select to receive payment via PayPal, direct deposit or check.</small></p>

                            <p class="lead"><b>What is the Split?</b> <br/><small> 70% for you and 30% for our team. If you have more than 100,000 fans, shoot us a message and we will renegotiate.</small></p>

                            <p class="lead"><b>How much does it cost to subscribe?</b> <br/><small>Currently, fans pay $4.99 per artist.</small></p>

                            <p class="lead"><b>Why should I pay the monthly subscription fee?</b> <br/><small> The music industry is constantly changing and the truth is, its not that easy for artists to make money anymore. By contributing to their monthly income, you will be helping your favorite artists to create new music and play more shows. In return, you will receive the exclusive access that you deserve.</small></p>

                            <p class="lead"><b>We are a label with multiple artists, can we sign up?</b> <br/><small> The more the merrier! Reach out to us using the contact form and we help get you started.</small></p>
						</div>
					</div>

				</div>
			</section>

			<!-- GOOGLE MAPS
			================================= -->
			<section id="maps" class="maps-section section-dark section">


                <div class="section-background">

                    <!-- IMAGE BACKGROUND -->
                    <div class="section-background-image parallax" data-stellar-ratio="0.4">
                        <img src="/images/img/Contact.jpg" style="opacity: 0.15;">
                    </div>

                </div>

					<!-- MAPS TEXT -->
					<div class="container maps-text" data-animation="fadeIn">



							<h2 class="section-heading text-center">Made with <span class="fa fa-heart text-primary"></span> in Kuta, Bali</h2>

							<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</p>

							<div class="row">
								<address class="col-sm-4  col-md-offset-2">
									<strong>Drew Headquarter</strong>
									<ul class="fa-ul">
										<li><i class="fa-li fa fa-home"></i>Jalan Pantai Kuta, Kuta<br>Bali, Indonesia</li>
										<li><i class="fa-li fa fa-phone"></i>Phone: +62 109 876543</li>
										<li><i class="fa-li fa fa-fax"></i>Fax: +62 109 876543</li>
									</ul>
								</address>
								<address class="col-sm-4  col-md-offset-2">
									<strong>Workshop &amp; Store</strong>
									<ul class="fa-ul">
										<li><i class="fa-li fa fa-home"></i>Jalan Legian, Kuta<br>Bali, Indonesia</li>
										<li><i class="fa-li fa fa-phone"></i>Phone: +62 109 876543</li>
										<li><i class="fa-li fa fa-fax"></i>Fax: +62 109 876543</li>
									</ul>
								</address>
							</div>

					</div>

			</section>

			<!-- CLOSING
			================================= -->
			<section id="closing" class="closing-section section-gray section">

				<div class="section-background">

					<!-- IMAGE BACKGROUND -->
					<div class="section-background-image parallax" data-stellar-ratio="0.4">
						<img src="/images/img/girl.jpg" alt="" style="opacity: 0.2;">
					</div>

				</div>

				<div class="container">

					<h3 class="closing-shout">Ready to start? Get early access now.</h3>

					<div class="closing-buttons" data-animation="tada"><a href="#hero" class="anchor-link btn btn-lg btn-primary">Get Early Access</a></div>

				</div>

			</section>

			<!-- FOOTER
			================================= -->
			<section id="footer" class="footer-section section">

				<div class="container">

					<h3 class="footer-logo">
						<img style="height: 75px;" src="/images/logof.png" alt="TraqHound">
					</h3>

					<div class="footer-socmed">
						<a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
						<a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
						<a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
						<a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
					</div>

					<div class="footer-copyright">
						&copy; 2015 TraqHound
					</div>

				</div>

			</section>
		
		</div>

		<!-- JAVASCRIPT
		================================= -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/respimage.min.js"></script>
		<script src="js/jpreloader.min.js"></script>
		<script src="js/smoothscroll.min.js"></script>
		<script src="js/jquery.nav.min.js"></script>
		<script src="js/jquery.inview.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<!--<script src="js/maplace-0.1.3.min.js"></script>-->
		<script src="js/script.js"></script>

	</body>

</html>