<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- BASIC INFO -->
    <title>Drew - A Multipurpose Landing Page Template</title>
    <meta name="author" content="David Rozando">
    <meta name="keywords" content="responsive, parallax, bootstrap, html5 template, one page, landing page">
    <meta name="description" content="Drew - A Multipurpose Landing Page Template">

    <!-- FAVICONS -->
    <link rel="icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">

    <!-- CSS
    ================================= -->

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- LIBRARIES CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- COLORS -->
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/pink.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/red.css"> -->
    <link id="color-css" rel="stylesheet" href="/css/colors/orange.css">
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/yellow.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/green.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/turquoise.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="/css/colors/blue.css"> -->

</head>

<body class="enable-animations enable-preloader">

<div id="document" class="document">

    <!-- HEADER
    ================================= -->
    <header id="header" class="header-section section section-dark navbar navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header navbar-left">

                <!-- RESPONSIVE MENU BUTTON -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- HEADER LOGO -->
                <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                    <img src="/images/logos/header-logo.png" srcset="images/logos/header-logo@2x.png 2x" alt="Drew">
                </a>

            </div>

            <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">

                    <li><a href="#hero" class="hidden">Top</a></li>

                    <li><a href="#about">About</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#how-it-works">How it Works</a></li>
                    <li><a href="#video">Watch Video</a></li>
                    <li><a href="#team">The Team</a></li>
                    <li><a href="#pricing">Pricing</a></li>

                    <!-- HEADER ACTION BUTTON -->
                    <li class="header-action-button"><a href="#" class="btn btn-primary">Action Button</a></li>

                </ul>

            </nav>

        </div>

    </header>

    <!-- HERO
    ================================= -->
    <section id="hero" class="hero-section hero-layout-classic hero-layout-features-and-form section section-dark">

        <div class="section-background">

            <!-- IMAGE BACKGROUND -->
            <div class="section-background-image parallax-background" data-stellar-background-ratio="0.4"></div>

            <!-- VIDEO BACKGROUND -->
            <!-- <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
                <video preload="auto" autoplay loop muted poster="images/backgrounds/video-fallback-bg.jpg">
                    <source type="video/mp4" src="videos/video-bg.mp4">
                    <source type="video/ogg" src="videos/video-bg.ogv">
                    <source type="video/webm" src="videos/video-bg.webm">
                </video>
            </div> -->

        </div>

        <div class="container">

            <div class="hero-content">

                <div class="hero-heading row" data-animation="fadeIn">
                    <div class="col-md-10 col-md-offset-1">

                        <h1 class="hero-title">All in One Template</h1>

                        <p class="hero-tagline">A robust Landing Page Template which solves all your landing page needs</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- SUBSCRIPTION FORM -->
                        <form action="/login" method="post" id="login-form" class="form" role="form">

                            <div class="form-validation alert"></div>


                            <div class="form-group">
                                <input type="email" name="email" id="login-email" class="form-control" placeholder="Your Email Address" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="login-interest" class="form-control" placeholder="Password" autocomplete="off">
                            </div>

                            <div class="form-group form-group-submit">
                                <button class="btn btn-primary btn-lg" data-loading-text="Action Button">Login</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- HEADLINE
    ================================= -->
    <section id="headline" class="headline-section section-gray section">

        <div class="container">

            <h2 class="section-heading text-center hidden">Tagline</h2>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <p class="headline-text">
                        Designed with the best practices, <strong>DREW</strong> is a premium landing page template which cares much about design quality, functions, and the most important - your successful marketing campaign.
                    </p>

                </div>
            </div>

        </div>

    </section>


    <!-- FOOTER
    ================================= -->
    <section id="footer" class="footer-section section">

        <div class="container">

            <h3 class="footer-logo">
                <img src="/images/logos/footer-logo.png" srcset="images/logos/footer-logo@2x.png 2x" alt="Drew">
            </h3>

            <div class="footer-socmed">
                <a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
                <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
                <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
                <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
            </div>

            <div class="footer-copyright">
                &copy; 2015 Drew Landing Page
            </div>

        </div>

    </section>

</div>

<!-- JAVASCRIPT
================================= -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/picturefill.min.js"></script>
<script src="/js/jpreloader.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/smoothscroll.min.js"></script>
<script src="/js/jquery.nav.min.js"></script>
<script src="/js/jquery.inview.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/script.js"></script>

</body>

</html>