<!DOCTYPE html>
<!-- Drew - A Multipurpose Landing Page Template, designed by David Rozando (http://design.davidrozando.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- BASIC INFO -->
    <title>TraqHound - The Ultimate 360 Fan Experience</title>

    <!-- FAVICONS -->
    <link rel="icon" href="/images/favicons/ico.png">

    <!-- CSS
    ================================= -->

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

    <!-- LIBRARIES CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <!-- SPECIFIC CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- COLORS -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/pink.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/red.css"> -->
    <!--<link id="color-css" rel="stylesheet" href="css/colors/orange.css">-->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/yellow.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/green.css"> -->
    <!-- <link id="color-css" rel="stylesheet" href="css/colors/turquoise.css"> -->
    <link id="color-css" rel="stylesheet" href="css/colors/blue.css">

</head>

<body class="enable-animations enable-preloader">

<div id="document" class="document">

    <!-- HEADER
    ================================= -->
    <header id="header" class="header-section section section-dark navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header navbar-left">

                <!-- RESPONSIVE MENU BUTTON -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- HEADER LOGO -->
                <a class="navbar-logo navbar-brand anchor-link" href="#hero">
                    <img src="images/logo.png" alt="TraqHound">
                </a>

            </div>

            <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">

                <!-- NAVIGATION LINKS -->
                <ul id="header-nav" class="nav navbar-nav">

                    <li><a href="#hero" class="hidden">Top</a></li>

                </ul>

            </nav>

        </div>

    </header>


    <section id="about" class="headline-section section-gray section">

        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <p class="lead text-center"><br/><br/>
                        <%= msg %>
                    </p>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="/" class="btn btn-lg btn-primary">Home</a></div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="closing-buttons" data-animation="tada"><a href="/dashboard" class="btn btn-lg btn-primary">Dashboard</a></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>



    <!-- FOOTER
    ================================= -->
    <section id="footer" class="footer-section section">

        <div class="container">

            <h3 class="footer-logo">
                <img style="height: 75px;" src="/images/logof.png" alt="TraqHound">
            </h3>

            <div class="footer-copyright">
                &copy; 2015 TraqHound
            </div>

        </div>

    </section>

</div>

<!-- JAVASCRIPT
================================= -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/respimage.min.js"></script>
<script src="js/jpreloader.min.js"></script>
<script src="js/smoothscroll.min.js"></script>
<script src="js/jquery.nav.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<!--<script src="js/maplace-0.1.3.min.js"></script>-->
<script src="js/script.js"></script>

</body>

</html>